version: '2'
services:
  postgres:
    image: postgres:15.2
    container_name: matchbox_db
    volumes:
      - ./db/:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    networks:
      - intra
networks:
  intra:
    driver: bridge
